<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Flask App</title>
</head>
<body>
    <form action="/predict" method="POST">
        <label for="url">Enter URL:</label>
        <input type="text" id="url" name="url" required>
        <button type="submit">Submit</button>
    </form>

    <br>
    <h1>Result</h1>
    <p>URL: {{ url }}</p>
    <p>Predicted Site Type: {{ predicted_site_type }}</p>
</body>
</html>
