<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Register</title>
    <style>
        .logo {
            margin-right: 75px;
        }

        body {
            background-color: #f8f9fa;
            padding: 50px;
        }
        .fa-eye {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
            
        }

        .register-container {
            max-width: 400px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn-register {
            width: 100%;
        }

        .center-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
    </style>
</head>

<body class="center-content">
    <div class="logo">
        <a href="/">
            <img src="static/images/phising2.png" height="100px" width="auto">
        </a>
    </div>
    <br>
    <div class="container">
        <div class="register-container">
            <form method="POST" action="{{ url_for('register') }}" id="registerform">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="username">Username</label>
                    {{ form.username(class="form-control", id="username") }}
                    {% for error in form.username.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    {{ form.email(class="form-control", id="email") }}
                    <div id="emailAlert" style="display: none; color: red;"></div>
                    {% for error in form.email.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group">
                        {{ form.password(class="form-control", id="password") }}
                        <div class="input-group-append">
                            <span class="input-group-text" id="togglePassword" style="cursor: pointer;"><i class="fa fa-eye password-icon"></i></span>
                            
                        </div>
                    </div>
                    <div id="passwordAlert" style="display: none; color: red;"></div>
                    {% for error in form.password.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    {{ form.confirm_password(class="form-control", id="confirm-password") }}
                    {% for error in form.confirm_password.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary btn-register">Register</button>
            </form>
        </div>
    </div>
    <script>
        function validateEmail() {
            var email = document.getElementById('email').value;
            var emailAlert = document.getElementById('emailAlert');
            var emailRegex = /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;
            var errorMessage = '';

            if (!email.match(emailRegex)) {
                errorMessage = 'Invalid email address.';
            }

            if (errorMessage !== '') {
                emailAlert.innerHTML = errorMessage;
                emailAlert.style.display = 'block';
                return false;
            }

            emailAlert.style.display = 'none';
            return true;
        }

        function validatePassword() {
            var password = document.getElementById('password').value;
            var passwordAlert = document.getElementById('passwordAlert');
            var errorMessage = '';

            if (password.length < 8) {
                errorMessage += 'Password must be 8 or more characters long.<br>';
            }

            if (!/[A-Z]/.test(password)) {
                errorMessage += 'Password must contain at least one capital letter.<br>';
            }

            if (!/[\W_]/.test(password)) {
                errorMessage += 'Password must contain at least one special character.<br>';
            }

            if (errorMessage !== '') {
                passwordAlert.innerHTML = errorMessage;
                passwordAlert.style.display = 'block';
                return false;
            }

            passwordAlert.style.display = 'none';
            return true;
        }

        document.getElementById('email').addEventListener('input', function(event) {
            validateEmail();
        });

        document.getElementById('password').addEventListener('input', function(event) {
            validatePassword();
        });

        document.getElementById('registerform').addEventListener('submit', function(event) {
            if (!validateEmail() || !validatePassword()) {
                event.preventDefault();
            }
        });

        document.getElementById('togglePassword').addEventListener('click', function() {
        var passwordInput = document.getElementById('password');
        var toggleButton = document.getElementById('togglePassword');
        
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            toggleButton.textContent = 'Hide';
        } else {
            passwordInput.type = 'password';
            toggleButton.textContent = 'Show';
        }
    });
    </script>

    <br>
    
    <script>
        const togglepassword = document.querySelector('#togglepassword');
        const password = document.querySelector('#password');
    
        togglepassword.addEventListener('click', function(e) {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            
            
            if (type === 'password') {
                togglepassword.classList.add('fa-eye-slash');
                togglepassword.classList.remove('fa-eye');
            } else {
                togglepassword.classList.remove('fa-eye-slash');
                togglepassword.classList.add('fa-eye');
            }
        });
    </script>
    <br>
    <footer style="text-align: center;">&copy; 2024 Copyright Bibek</footer>
</body>

</html>
